:root {
  --pri: #cadcae;
  --sec: #004030;
  --third: #3e5f44;
  --tri1: #eda35a;
  --tri2: #fee8d9;
  --Text-color: #faf9ee;
  --bg-color: #a2af9b;
}
@font-face {
  font-family: Light;
  src: url(./AeonikTRIAL-Light.otf);
}
@font-face {
  font-family: Bold;
  src: url(./AeonikTRIAL-Bold.otf);
}
@font-face {
  font-family: Regular;
  src: url(./AeonikTRIAL-Regular.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Bold;
  color: var(--Text-color);
}
html,
body {
  height: 100%;
  width: 100%;
}
main {
  height: 100%;
  width: 100%;
}
.Allelem {
  position: absolute;
  background-color: var(--sec);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 1.5rem;
}
.AllCardContainer {
  margin-top: 2rem;
  justify-content: center;
  padding: 1rem 1.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 2rem;
}
.elem {
  border-radius: 10px;
  position: relative;
  height: 90%;
  width: 18%;
  overflow: hidden;
  cursor: pointer;
  transition: linear 0.2s;
}
.elem:active {
  scale: 0.97;
}
.elem h2 {
  color: black;
  position: absolute;
  bottom: 2%;
  right: 3%;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card-pages {
  width: 100%;
  height: 100%;
}
.fullPage {
  position: absolute;
  background-color: var(--sec);
  padding: 1.5rem 2rem;
  height: 100%;
  width: 100%;
  display: none;
}
.fullPage h1 {
  font-size: 3rem;
}
.close {
  transition: linear 0.2s;
  font-size: 1rem;
  border-radius: 5px;
  position: absolute;
  top: 3%;
  right: 5%;
  border: none;
  background-color: var(--tri1);
  padding: 1rem 1.2rem;
}
.close:hover {
  background-color: red;
}
.close:active {
  scale: 0.97;
}
.todo_container {
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  width: 100%;
  margin-top: 1rem;
  height: 70%;
}
.addTask {
  width: 30%;
  height: 100%;
}
.addTask form {
  overflow: hidden;
  border-radius: 10px;
  padding: 1rem;
  background-color: var(--third);
  width: 100%;
  height: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: self-start;
}
.addTask form input {
  background-color: #a2af9b;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  outline: none;
  padding: 1rem 1rem;
  width: 100%;
}
.addTask form input::placeholder,
.addTask form textarea::placeholder {
  color: var(--Text-color);
}
.addTask form textarea {
  max-width: 100%;
  background-color: #a2af9b;
  color: var(--Text-color);
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  outline: none;
  height: 60%;
  padding: 1rem 1rem;
  width: 100%;
}

.addTask form button {
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
  border: none;
  border-radius: 6px;
  background-color: var(--tri1);
  padding: 0.8rem 2rem;
}

.Taskhold {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 10px;
  width: 65%;
  background-color: var(--third);
  overflow: auto;
  scrollbar-width: none;
}
.task {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* width: 100%; */
  padding: 1rem 2rem;
  border-radius: 6px;
  margin: 1.2rem 1.5rem;
  background-color: #a2af9b;
}
.task h4 {
  width: 100%;
  font-size: 1.5rem;
}
.Delete-btn {
  font-weight: 600;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  padding: 0.5rem 1.5rem;
  background-color: var(--tri1);
  transition: 0.2s linear;
}
.Delete-btn:active {
  scale: 0.95;
}
.addTask form label {
  justify-content: flex-start;
  width: 100%;
  align-items: center;
  display: flex;
}
.addTask form label input {
  width: 10%;
  height: 20px;
}
.imp {
  width: fit-content;
  font-size: 1rem;
  border-radius: 6px;
  padding: 0.1rem 0.3rem;
  background-color: red;
}
.TaskDetailContainer {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .TaskDetail {
  display: none;
  text-wrap: nowrap;
  transition: all 0.3s ease; 
  padding: 1rem 25rem;
  background-color: var(--bg-color);
  font-size: 2rem;
  border-radius: 6px;
  scale: 0.97;
}
.TaskDetail.active {
  transform: scale(1);
} */

.TaskDetail {
  text-wrap: nowrap;
  opacity: 0;
  width: 90%;
  text-align: center;
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease; /* smooth transition */
  padding: 1rem 2rem;
  background-color: var(--bg-color);
  font-size: 2rem;
  border-radius: 6px;
  transform: scale(0.97);
}

.TaskDetail.show {
  opacity: 1;
  visibility: visible;
  max-height: 200px; /*enough to fit content */
  transform: scale(1);
}

.day-planner {
  gap: 2rem;
  padding: 1.2rem;
  margin-top: 2rem;
  height: 85%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  background-color: var(--third);
  flex-wrap: wrap;
  overflow: auto;
  /* scrollbar-width: none; */
}
.day-planner-time {
  /* padding: 10rem; */
  position: relative;
  align-items: center;
  display: flex;
  padding: 2.5rem 1rem;
  background-color: var(--bg-color);
  width: 48%;
  height: 10%;
  border-radius: 6px;
}
.day-planner-time p {
  position: absolute;
  top: 2%;
  left: 1%;
}
.day-planner-time input {
  margin-top: 0.2rem;
  width: 100%;
  height: 2.2rem;
  padding: 0.4rem;
  outline: none;
  border-radius: 6px;
  border: none;
  color: var(--sec);
}
.motivation-page {
  position: relative;
}
.motivation-fullPage-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: rgba(128, 128, 128, 0.021); */
  width: 25%;
  height: 25%;
  border-radius: 10px;
}

.motivation-fullPage-container::after {
  filter: blur(100px);
  scale: 1.15;
  content: "";
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: #8aa624;
  z-index: 8;
  border-radius: 10px;
}
.motivation-container {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background-color: #eda35a;
  z-index: 10;
}
.motivation-1 {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 10px 10px 0 0;
  height: 40%;
  background-color: var(--pri);
}
.motivation-1 h4 {
  color: black;
  font-size: 1.5rem;
}
.date {
  color: var(--sec);
  text-align: center;
  padding: 0.3rem 0.5rem;
  line-height: 1.3rem;
  margin-top: 0.2rem;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}
.motivation-2 {
  padding: 1rem;
  background-color: #e1e9c9;
  height: 90%;
  border-radius: 0 0 10px 10px;
}
.motivation-2 h3 {
  color: grey;
  width: 80%;
  letter-spacing: 1.2px;
  font-size: 1.2rem;
  font-family: Regular;
  font-style: italic;
}
.motivation-fullPage-container #FirstQoudesImg {
  position: absolute;
  height: 10%;
  right: 5%;
  top: 15%;
  opacity: 0.6;
  width: 10%;
}
#secondQoudesImg {
  position: absolute;
  top: 260px;
  left: 5%;
  opacity: 0.6;
  height: 15%;
  width: 10%;
}

.Timer-page {
  position: relative;
  /* display: block; */
}
.pomo-Container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 95%;
  position: relative;
}
.pomo-timer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 60%;
  border-radius: 50%;
  /* border: 1px solid rgb(186, 41, 41); */
}
.pomo-timer h1 {
  font-size: 7.5rem;
}

.pomo-timer button {
  border: none;
  color: black;
  margin: 0.5rem;
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 0.8rem 1rem;
  transition: 0.2s linear;
  background-color: var(--pri);
}
.pomo-timer button:active {
  box-shadow: 5px 5px 0px black;
  scale: 0.97;
}
/* .progress-ring__circle {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
} */
svg {
  position: absolute;
  /* z-index: 0; */
  top: 20%;
  right: 14%;
  width: 90%;
}
.Goal-Container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Goal-page {
  /* display: block; */
  width: 100%;
  height: 100%;
  overflow: auto;
  scrollbar-width: none;
}

.Goal-Card {
  margin-top: 1rem;
  width: 30%;
  height: 60%;
  border: 1px solid var(--Text-color);
  padding: 1rem 1rem;
  border-radius: 5px;
  box-shadow: 5px 5px 3px black;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  gap: 1rem;
}
.Date {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Date h1 {
  font-size: 2rem;
}
.input_Add {
  display: flex;
  gap: 0.2rem;
}
.input_Add input {
  width: 100%;
  padding: 1rem 0.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 1rem;
  /* border: 1px solid #59fd0088; */
  background-color: var(--pri);
}
.input_Add button {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  background-color: var(--tri1);
  border: none;
  border-radius: 5px;
}
.Goal_holder {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: auto;
}
.Goal {
  width: 100%;
  background-color: var(--third);
  gap: 1rem;
  padding: 0.5rem 1rem;
  display: flex;
  border: 1px solid grey;
  align-items: center;
  justify-content: space-between;
}
.checkBox_GoalName {
  width: 100%;
  display: flex;
  gap: 0.5rem;
}
.checkBox_GoalName input {
  color: var(--sec);
  width: 50%;
}
.checkBox_GoalName h1 {
  width: 100%;
  font-size: 2rem;
}
.Goal button {
  border: none;
  background-color: transparent;
}
.Goal_edit_delete {
  gap: 0.5rem;
  display: flex;
  align-items: end;
  justify-content: flex-end;
  width: 20%;
}
.Goal_edit_delete button {
  font-size: 1.5rem;
}
#GoalCheckBox {
  justify-content: center;
  display: flex;
  gap: 0.2rem;
  font-size: 1.2rem;
  align-items: center;
  background-color: var(--pri);
  color: black;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}
#GoalCheckBox input {
  width: 20px;
  height: 20px;
}

.Status-Container {
  margin-top: 1rem;
  height: 50%;
  padding: 1rem 2rem;
  overflow: hidden;
  align-items: center;
  border-radius: 10px;
  background-color: var(--third);
  background-image: url(https://plus.unsplash.com/premium_vector-1711987786379-aeea5e7e935e?q=80&w=1591&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
}
.Day_city {
  text-align: start;
}
.Day_city h1 {
  font-size: 5rem;
}
.Day_city h3 {
  padding-left: 0.2rem;
  font-family: light;
  font-size: 2.5rem;
}
.Weather_Status h1{
  font-size: 5rem;
}