:root {
  --pri: #cadcae;
  --sec: #004030;
  --third: #3e5f44;
  --tri1: #eda35a;
  --tri2: #fee8d9;
  --Text-color: #faf9ee;
  --bg-color: #a2af9b;
}
@font-face {
  font-family: Light;
  src: url(./AeonikTRIAL-Light.otf);
}
@font-face {
  font-family: Bold;
  src: url(./AeonikTRIAL-Bold.otf);
}
@font-face {
  font-family: Regular;
  src: url(./AeonikTRIAL-Regular.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Bold;
  color: var(--Text-color);
}
html,
body {
  height: 100%;
  width: 100%;
}
main {
  height: 100%;
  width: 100%;
}
.Allelem {
  position: absolute;
  background-color: var(--sec);
  width: 100%;
  height: 100%;
  display: flex;
  gap: 0.5rem;
  padding: 1rem 1.5rem;
}
.elem {
  border-radius: 10px;
  position: relative;
  height: 50%;
  width: 18%;
  overflow: hidden;
  cursor: pointer;
  transition: linear 0.2s;
}
.elem:active {
  scale: 0.97;
}
.elem h2 {
  color: black;
  position: absolute;
  bottom: 2%;
  right: 3%;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card-pages {
  width: 100%;
  height: 100%;
}
.fullPage {
  position: absolute;
  background-color: var(--sec);
  padding: 1.5rem 2rem;
  height: 100%;
  width: 100%;
  display: none;
}
.fullPage h1 {
  font-size: 3rem;
}
.close {
  transition: linear 0.2s;
  font-size: 1rem;
  border-radius: 5px;
  position: absolute;
  top: 3%;
  right: 5%;
  border: none;
  background-color: var(--tri1);
  padding: 1rem 1.2rem;
}
.close:hover {
  background-color: red;
}
.close:active {
  scale: 0.97;
}
.todo_container {
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  width: 100%;
  margin-top: 1rem;
  height: 70%;
}
.addTask {
  width: 30%;
  height: 100%;
}
.addTask form {
  overflow: hidden;
  border-radius: 10px;
  padding: 1rem;
  background-color: var(--third);
  width: 100%;
  height: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: self-start;
}
.addTask form input {
  background-color: #a2af9b;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  outline: none;
  padding: 1rem 1rem;
  width: 100%;
}
.addTask form input::placeholder,
.addTask form textarea::placeholder {
  color: var(--Text-color);
}
.addTask form textarea {
  max-width: 100%;
  background-color: #a2af9b;
  color: var(--Text-color);
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  outline: none;
  height: 60%;
  padding: 1rem 1rem;
  width: 100%;
}

.addTask form button {
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
  border: none;
  border-radius: 6px;
  background-color: var(--tri1);
  padding: 0.8rem 2rem;
}

.Taskhold {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 10px;
  width: 65%;
  background-color: var(--third);
  overflow: auto;
  scrollbar-width: none;
}
.task {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* width: 100%; */
  padding: 1rem 2rem;
  border-radius: 6px;
  margin: 1.2rem 1.5rem;
  background-color: #a2af9b;
}
.task h4 {
  width: 100%;
  font-size: 1.5rem;
}
.Delete-btn {
  font-weight: 600;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  padding: 0.5rem 1.5rem;
  background-color: var(--tri1);
  transition: 0.2s linear;
}
.Delete-btn:active {
  scale: 0.95;
}
.addTask form label {
  justify-content: flex-start;
  width: 100%;
  align-items: center;
  display: flex;
}
.addTask form label input {
  width: 10%;
  height: 20px;
}
.imp {
  width: fit-content;
  font-size: 1rem;
  border-radius: 6px;
  padding: 0.1rem 0.3rem;
  background-color: red;
}
.TaskDetailContainer {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .TaskDetail {
  display: none;
  text-wrap: nowrap;
  transition: all 0.3s ease; 
  padding: 1rem 25rem;
  background-color: var(--bg-color);
  font-size: 2rem;
  border-radius: 6px;
  scale: 0.97;
}
.TaskDetail.active {
  transform: scale(1);
} */

.TaskDetail {
  text-wrap: nowrap;
  opacity: 0;
  width: 90%;
  text-align: center;
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease; /* smooth transition */
  padding: 1rem 2rem;
  background-color: var(--bg-color);
  font-size: 2rem;
  border-radius: 6px;
  transform: scale(0.97);
}

.TaskDetail.show {
  opacity: 1;
  visibility: visible;
  max-height: 200px; /*enough to fit content */
  transform: scale(1);
}
.planner-page {
  display: block;
  /* padding: 2rem; */
}
.day-planner {
  gap: 2rem;
  padding: 1.2rem;
  margin-top: 2rem;
  height: 85%;
  display: flex;
  align-items: flex-start;
  justify-content:space-between;
  width: 100%;
  background-color: var(--third);
  flex-wrap: wrap;
  overflow: auto;
  /* scrollbar-width: none; */
}
.day-planner-time {
  /* padding: 10rem; */
  position: relative;
  align-items: center;
  display: flex;
  padding: 2.5rem 1rem;
  background-color: var(--bg-color);
  width: 48%;
  height: 10%;
  border-radius: 6px;
}
.day-planner-time p {
  position: absolute;
  top: 2%;
  left: 1%;
}
.day-planner-time input {
  margin-top: 0.2rem;
  width: 100%;
  height: 2.2rem;
  padding: 0.4rem;
  outline: none;
  border-radius: 6px;
  border: none;
  color: var(--sec);
}
